<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <title>Vue.js 框架</title>
</head>

<body>
    <div id="app">
        <h1>一、認識Vue使用流程</h1>
        <p>
            {{firstText}} {{firstText}}
        </p>
        <h1>二、使用V-bind</h1>
        <p v-bind:class="textColor">這個斷落的類別使用Vue的V-bind綁定</p>
        <div v-bind:class="textColor">這個區塊也使用V-bind</div>
        <div v-bind:style="{'font-size':fontSize + 'px'}">
            區塊元素，文字大小透過Vue的資料處理
        </div>
        <p :style="{'font-size':fontSize + 'px'}">這段文字也是透過Vue處理</p>

        <h1>三、v-if 判斷是否顯現</h1>
        <div class="btn" v-if="canBuy">加入購入車</div>
        <div class="btn" v-else="canBuy">商品已售完</div>
        <div class="btn" v-show="canBuy">加入購入車-show</div>

        <h1>四、for迴圈</h1>
        <ul>
            <li v-for="skill in web">{{skill}}</li>
        </ul>

        <h1>五、v-on迴圈</h1>
        <div class="btn" v-on:click="count++">點我</div>
        <h3>數字:{{ count }}</h3>
        <div class="btn" v-on:mouseover="count++">滑我</div>
        <h3>數字:{{ count }}</h3>


    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="./script.js"></script>
</body>


</html>